
$bgcolor : lightblue;

header{
     background-color: $bgcolor;
}



body {
    font-family: 'Press Start 2P', sans-serif;
    color: #eee;
    background-color: #222;
    /* background-color: #60b347; */
  }

  .btn
  {
    background-color: $bgcolor;
    &:hover
    {
        background-color: lightgray;
    }

  }
  